a{
    text-decoration: none;
}
#register:hover {
    cursor: pointer;
    color: darkmagenta;
}
#authorization:hover  {
    cursor: pointer;
    color: darkmagenta;
}

#myReg{
    display: none;
}

#errorId{
    color: rgb(245, 66, 105);
    padding-left: 2%;
    padding-top: 2%;;
}